/venv/
cortex
/dev/
.idea
/.idea/
.DS_Store
.env
~/PycharmProjects/PaperclipMaximiser/dev/
/client/log/
/client/unscored_log/
# all pycache folders
__pycache__/
# all pycache files
*.pyc
*/__pycache__/*.pyc
client/__pycache__/*.pyc
client/__pycache__/