/venv/
cortex
/dev/
.idea
/.idea/
.DS_Store
.env
~/PycharmProjects/PaperclipMaximiser/dev/
/client/log/
/client/unscored_log/
# all pycache folders
__pycache__/
# all pycache files
*.pyc
*/__pycache__/*.pyc
client/__pycache__/*.pyc
client/__pycache__/
/src/log/*.log
/src/log/*.trace
/log/
/src/gpt_events.jsonl
/src/llama.jsonl
/src/llama_events.jsonl
/.git.bak/
/src/.neptune/
/src/.neptune/
/src/.neptune/async/
/src/skills/bottom_up/skill_generation_logs/
*.jsonl
/data/blueprints_to_policies/blueprints/decoded/
/data/blueprints_to_policies/blueprints/mining/
/data/blueprints_to_policies/blueprints/electricity/
/data/blueprints_to_policies/blueprints/manufacturing/
/data/blueprints_to_policies/blueprints/misc/
/data/blueprints_to_policies/blueprints/
/data/encoded/
/data/full/
/data/place_next_to_connect/
/data/refactor/
/data/refactor2/
/data/plans/factorio_guides/processed/
/data/plans/factorio_guides/raw/
/data/plans/factorio_guides/visited/
/src/datasetgen/mcts/plots/
/src/search/mcts/runs/
/data/icons/
