factorio-rcon-py
python-dotenv
git+https://github.com/SirAnthony/slpp
imageio
anyio
pygame
slpp
neptune
pyopenssl==24.0.0
rich
construct
pydantic
openai
anthropic
scipy
scikit-image
pyautogui
pydantic
dotenv
slpp
lupa
factorio-rcon-py
numpy
pillow
scikit-image
openai
anthropic
psycopg2