factorio-rcon-py
python-dotenv==1.0.1
imageio
anyio
pygame
neptune
pyopenssl==24.0.0
rich
construct
pydantic
openai
anthropic
scipy
scikit-image
pyautogui
lupa
numpy
pillow
psycopg2
backoff
# For slpp, use the git version since it's likely more up to date:
git+https://github.com/SirAnthony/slpp